<!-- <p>header works!</p> -->
<div class="flex justify-end bg-[#ffffff] border-b border-[#E7E5E4] border-l p-[10px] h-[86px]">
    <div *ngIf="!isMobile" class="flex justify-start w-fit items-center gap-[12px]">
        <button class="relative">
            <svg
                class="absolute top-[-2px] left-[11px]"
                xmlns="http://www.w3.org/2000/svg"
                width="5"
                height="5"
                viewBox="0 0 5 5"
                fill="none"
            >
                <circle
                    cx="2.5"
                    cy="2.5"
                    r="2.5"
                    fill="#FB2C36"
                />
            </svg>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="19"
                viewBox="0 0 18 19"
                fill="none"
            >
                <path d="M9 0C7.14348 0 5.36301 0.737498 4.05025 2.05025C2.7375 3.36301 2 5.14348 2 7V10.528C2.00014 10.6831 1.9642 10.8362 1.895 10.975L0.177999 14.408C0.0941255 14.5757 0.0545211 14.7621 0.0629475 14.9494C0.071374 15.1368 0.127551 15.3188 0.226144 15.4783C0.324737 15.6379 0.462471 15.7695 0.626266 15.8608C0.790061 15.9521 0.974477 16 1.162 16H16.838C17.0255 16 17.2099 15.9521 17.3737 15.8608C17.5375 15.7695 17.6753 15.6379 17.7739 15.4783C17.8724 15.3188 17.9286 15.1368 17.9371 14.9494C17.9455 14.7621 17.9059 14.5757 17.822 14.408L16.106 10.975C16.0365 10.8362 16.0002 10.6832 16 10.528V7C16 5.14348 15.2625 3.36301 13.9497 2.05025C12.637 0.737498 10.8565 0 9 0ZM9 19C8.37935 19.0003 7.77387 18.8081 7.26702 18.4499C6.76016 18.0917 6.37688 17.5852 6.17 17H11.83C11.6231 17.5852 11.2398 18.0917 10.733 18.4499C10.2261 18.8081 9.62065 19.0003 9 19Z" fill="#737373"/>
            </svg>
        </button>
        <div class="flex justify-between w-full items-center">
            <div class="flex justify-start gap-[0px] items-center gap-[13px]">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="46"
                    height="46"
                    viewBox="0 0 29 29"
                    fill="none"
                >
                    <rect
                        width="29"
                        height="29"
                        rx="14.5"
                        fill="#D9D9D9"
                    ></rect>
                </svg>
                <div class="flex flex-col gap-[3px]">
                    <span class="text-[16px] font-bold">Business name</span>
                    <span class="text-[#57534D] text-[14px]">jadewillison23gmail.com</span>
                </div>
            </div>
            <button class="mx-[27px]">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="17"
                    viewBox="0 0 16 17"
                    fill="none"
                >
                    <g clip-path="url(#clip0_2655_105237)">
                        <path
                            d="M4 7.56641L8 11.5664L12 7.56641"
                            stroke="#292524"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_2655_105237">
                            <rect
                                width="16"
                                height="16"
                                fill="white"
                                transform="translate(0 0.5)"
                            ></rect>
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
        <div>
            <div>
